# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Models


# Streamlit cache
.streamlit/

# OS files
.a
Thumbs.db

# Large datasets
