# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Models
*.pkl

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Large datasets
data/raw/*.csv